@import '../../styles/mixins/util';
@import '../../styles/extends/resets';
@import '../../styles/variables/variables';

.dd-wrapper {
    display: inline-block;

    min-width: 200px;
    // width: 100%;

    position: relative;

    button {
        @extend %button;
    }

    .dd-header {
        @include flex($justify: space-between);
        padding: 1.2em 1.6em;
        width: 100%;
    }
    
    .dd-list {
        @include flex($direction: column);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        background: inherit;

        .dd-list-item {
            width: 100%;
            padding: 1.2em 1.6em;
            text-align: left;
        }
    }
}