@import "../../styles/variables/variables";
@import "../../styles/mixins/util";
@import "../../styles/extends/resets";

.header {
  height: 5%;
  font-size: $ff-size;

  @include flex($justify: space-between);

  padding: 2em;

  .title-link {
    text-decoration: none;
    color: inherit;
    @media (max-width: 480px) {
      .title {
        font-size: 1em;
      }      
    }
  }

  .theme-toggle-container {
    @include flex();

    .btn-theme-toggle {
      @extend %button;

      .theme-toggle-icon {
        font-size: 1.2em;
        margin-right: 0.8em;
        color: inherit;
      }

      .theme-toggle-icon,
      .theme-toggle-label {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
