@import "../../styles/variables/variables";
@import "../../styles/extends/resets";
@import "../../styles/mixins/util";

.page--container {
  width: 100%;
  height: 100vh;

  padding: 2em;
  font-size: $detail-ff-size;

  .btn-goBack {
    @include flex();
    margin-bottom: 2em;

    span {
      margin-left: 1em;
    }
  }
}

.country_page--container {
  @include flex($direction: column);
  gap: 2em;

  width: 100%;
  height: max-content;

  .img--container {
    max-width: 1000px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.country_page-info--container {
  @include flex($align: flex-start, $direction: column);
  width: 100%;
  max-width: 1000px;
  gap: 2em;

  @media (max-width: 480px) {
    align-items: flex-start;
  }

  .country_page-heading {
    font-weight: 800;
  }

  .country_page-info-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}

.country_page-info-details-col {
  .country_page-info-details {
    list-style: none;

    display: flex;
    margin-bottom: 0.4em;
    font-size: 1em;
    span {
      font-weight: 600;
    }
  }
}

.country_page-info-borders {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  h6 {
    align-self: center;
    font-size: 1em;
    font-weight: 600;
  }

  .country_page-info-borders-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;


    .btn.btn-nan {
      cursor: default;
    }
  }
}

.btn {
  @extend %button;
  padding: 1em 0.8em;
}
