// Variables

// Dark Theme
$dark-bg: hsl(207, 26%, 17%);
$dark-element: hsl(209, 23%, 22%);
$dark-element-hover: hsl(209, 23%, 40%);
$dark-text: hsl(0, 0%, 100%);


// Light Theme
$light-bg: hsl(0, 0%, 98%);
$light-element: hsl(0, 0%, 100%);
$light-element-hover: hsl(0, 0%, 82%);
$light-text: hsl(200, 15%, 8%);

// Home Page
$ff-size: 14px;
$detail-ff-size: 16px;