// Btn Reset
%button {
  font-family: inherit;
  line-height: 1.15;

  outline: none;
  cursor: pointer;

  margin: 0;
  overflow: visible;

  text-transform: none;
  -webkit-appearance: button;

  background: none;
  border: none;
}

// Input Reset
%input {
  font-family: inherit;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  // Change placeholder text color
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: inherit;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: inherit;
  }
}
