@import '../../styles/variables/variables';
@import '../../styles/mixins/util';

.homepage-container {
    width: 100vw;
    height: 100vh;

    font-size: $ff-size;

    main {
        width: 100%;
        min-height: 100%;

        padding: 2em;
        
        .user-inputs {
            @include flex($justify: space-between);
            margin-bottom: 2em;
            gap: 1em;

            @media (max-width: 480px ) {
                @include flex($align: flex-start, $direction: column);
            }
        }
    }

    .cards-container {
        max-width: calc(100vw - 2em);
        height: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fill, min(300px));
        grid-auto-flow: row dense;

        justify-content: center;
        // grid-auto-flow: column;
        gap: 2em;
    }
}

